<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DSPManagedPath>C:\Path\To\Dyson Sphere Program\DSPGAME_Data\Managed\</DSPManagedPath>
    <BepInExDllPath>C:\Path\To\Dyson Sphere Program\BepInEx\core\BepInEx.dll</BepInExDllPath>
    <ProfileRoot>C:\Path\To\r2modman-profile</ProfileRoot>
  </PropertyGroup>
</Project>
